.git
_.git
/tmp
/_viminfo.*
/.vim/.viminfo
/.vim_backup
/.matplotlib
*.whl
**/__pycache__/
*.pyc
*.log
/.vim/MiKTeX/texmfs/data/miktex/log
/.cache
/.vim/SumatraPDF/sumatrapdfcache
/.vim/SumatraPDF/SumatraPDF-settings.txt
/.vim/MiKTeX/texmfs/config/miktex/config/miktex.ini
/.vim/MiKTeX/texmfs/config/miktex/config/issues.json
/_Vim_RunningBefore90.rar
/.vim/Fanuc
