/* Minify took 0.0014431476593018 */

.wikia-tooltip{display:none;position:absolute;z-index:2000001001;background-color:white;border:1px
solid #ccc;line-height:23px;padding:10px;margin:10px;box-shadow: -1px 1px 3px 0px #e8e8e8;-moz-box-shadow: -1px 1px 3px 0px #e8e8e8;-webkit-box-shadow: -1px 1px 3px 0px #e8e8e8;background-image:none;border:1px
solid #d8d8d8}.wikia-tooltip a:hover{text-decoration:underline}